<p id="notice"><%= notice %></p>

<h1>Tareas prueba</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.titulo %></td>
        <td><%= tarea.descripcion.truncate(60) %></td>
        
        
        <td><%= link_to 'Ver', edit_tarea_path(tarea) %></td>
        <td><%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4><%= link_to 'Nueva Tarea', new_tarea_path %></h4>
