<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tarea.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tarea.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tarea.estado %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
